apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin
  namespace: observability
spec:
  encryptedData:
    GF_SECURITY_ADMIN_USER: AgB7c0F...REEMPLAZAR...==
    GF_SECURITY_ADMIN_PASSWORD: AgC8j2P...REEMPLAZAR...==
  template:
    metadata:
      name: grafana-admin
      namespace: observability
    type: Opaque
